<!DOCTYPE html>
<html ng-app="tweets-harvester" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Tweets Harvester</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <script type="text/javascript" src="js/lib/angular.min.js" th:href="@{/js/lib/angular.min.js}"></script>
  <script type="text/javascript" src="js/lib/ng-tags-input.min.js" th:href="@{/js/lib/ng-tags-input.min.js}"></script>
  <script>
      angular.module('tweets-harvester', ['ngTagsInput'])
        .controller('formController', function($scope, $http) {
        	
        	var serviceUrl = 'start';
        	
        	$scope.postTags = function() {
        		var postData = {
        				dbName : $scope.dbName,
        				keywords: $scope.tags
        		};
        		console.log(postData);
        		
        		$http({
              method : 'POST',
              url : serviceUrl,
              data : postData,
              headers : { 'Content-Type': 'application/json' }
           })
           .success(function(data) {
        	   console.log('Success.');
           });
        		
        	};
        	
        	$scope.stop = function() {
        		
        		$http({
        			method: 'POST',
        			url: 'stop',
        			data : ''
        		})
        		.success(function(data) {
        			console.log('Success.');
        		});
        		
        	};
          
        });
  </script>
  <link rel="stylesheet" type="text/css" media="all" href="css/ng-tags-input.css" th:href="@{/css/ng-tags-input.min.css}" />
  <link rel="stylesheet" type="text/css" media="all" href="css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
  <link rel="stylesheet" type="text/css" media="all" href="css/ng-tags-input-custom.css" th:href="@{/css/ng-tags-input-custom.css}" />

</head>
<body ng-controller="formController">
    <h2 class="col-md-offset-3">Tweets Harvester</h2>
    
    <form class="form-horizontal" role="form" ng-submit="postTags()">
    
      <div class="form-group">
        <div class="col-md-6 col-md-offset-3">
          <tags-input ng-model="tags"
                custom-class="bootstrap"
                placeholder="Add a query word"
                replace-spaces-with-dashes="false"
                allowed-tags-pattern="^#?[a-zA-Z0-9]*"
                add-on-comma="true"
                add-on-space="true">
          </tags-input>
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-3 col-md-offset-3">
          <input type="text" class="form-control" ng-model="dbName" placeholder="DB name" />
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-2 col-md-offset-3">
          <button type="submit" class="btn btn-default">Start</button>
        </div>
      </div>
    
    </form>
    <form class="form-horizontal" role="form" ng-submit="stop()">
      <div class="form-group">
        <div class="col-md-2 col-md-offset-3">
          <button type="submit" class="btn btn-default">Stop</button>
        </div>
      </div>
    </form>
    
</body>
</html>